
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie8 ie7"  lang="en"><![endif]-->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Home - Office for National Statistics</title>
<meta charset="utf-8" />
<meta content="width=device-width,initial-scale=1.0,user-scalable=1" name="viewport">
<meta content="on" http-equiv="cleartype" />
<meta name="theme-color" content="#58595B">
<meta name="apple-mobile-web-app-status-bar-style" content="#58595B">
<meta name="description" content="The UK&#x27;s largest independent producer of official statistics and the recognised national statistical institute of the UK.">
<!--[if IE]><![endif]-->
<!--[if lte IE 8]>
		<link rel="stylesheet" href="https://www.ons.gov.uk//cdn.ons.gov.uk/sixteens/810d626/css/old-ie.css"/>
		<![endif]-->
<!--[if IE 9]>
              <link rel="stylesheet" type="text/css" href="https://www.ons.gov.uk//cdn.ons.gov.uk/sixteens/810d626/css/ie-9.css">
        <![endif]-->
<!--[if gt IE 9]><!-->
<link rel="stylesheet" type="text/css" href="https://cdn.ons.gov.uk/sixteens/810d626/css/main.css">
<link rel="stylesheet" type="text/css" href="https://bulletin-26.netlify.com/assets/main.css">
<![endif]-->


</head>
<body class="home_page">

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBCBVQS"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<header>
<a class="skiplink" href="#main" tabindex="0">
Skip to main content
</a>
<div id="pagePath" class="hide">/</div>
<div class="wrapper">
<div class="header col-wrap">
<div class="col col--lg-one-third col--md-one-third">
<a href="https://www.ons.gov.uk/">
<!--[if lte IE 8]>
							<img class="logo" src="https://cdn.ons.gov.uk/assets/images/ons-logo/v2/ons-logo.png" alt="Office for National Statistics">
						<![endif]-->
<!--[if gte IE 9]><!-->
<img class="logo" src="https://cdn.ons.gov.uk/assets/images/ons-logo/v2/ons-logo.svg" alt="Office for National Statistics">
<![endif]-->
</a>
</div>
<div class="col col--lg-two-thirds col--md-two-thirds hide--sm print--hide language--js__container">
<div class="language">
<span>English (EN) | </span>
<a href="



    //cy.ons.gov.uk/
" class="language__link">Cymraeg (CY)</a>
</div>
</div>
<div class="secondary-nav col col--lg-two-thirds col--md-two-thirds print--hide">
<ul class="secondary-nav__list js-nav-clone__list">
<li class="secondary-nav__item">
<a class="secondary-nav__link  js-nav-clone__link" href="https://www.ons.gov.uk/releasecalendar">Release calendar</a>
</li>
<li class="secondary-nav__item">
<a class="secondary-nav__link  js-nav-clone__link" href="https://www.ons.gov.uk/methodology">Methodology</a>
</li>
<li class="secondary-nav__item">
<a class="secondary-nav__link  js-nav-clone__link" href="https://www.ons.gov.uk/news">Media</a>
</li>
<li class="secondary-nav__item">
<a class="secondary-nav__link  js-nav-clone__link" href="https://www.ons.gov.uk/aboutus">About</a>
</li>
<li class="secondary-nav__item">
<a class="secondary-nav__link js-nav-clone__link" rel="noopener noreferrer" href="https://blog.ons.gov.uk/">Blog</a>
</li>
</ul>
</div>
</div>
</div>
<div class="primary-nav print--hide">
<nav>
<ul class="nav--controls">
<li class="nav--controls__item">
<a href="#nav-primary" id="menu-toggle" aria-controls="nav-primary" class="nav--controls__menu">
<span class="nav--controls__text">Menu</span>
</a>
</li>
<li class="nav--controls__item ">
<a href="#nav-search" id="search-toggle" aria-controls="nav-search" class="nav--controls__search">
<span class="nav--controls__text">Search</span>
</a>
</li>
</ul>
<div class="wrapper nav-main--hidden" id="nav-primary">
<ul class="primary-nav__list">
<li class="primary-nav__item primary-nav__item--active js-nav hide--sm old-ie--display-block"><a class="primary-nav__link col col--md-7 col--lg-9" href="https://www.ons.gov.uk/">Home</a></li>
<li class="primary-nav__item js-nav js-expandable ">
<a class="primary-nav__link col col--md-8 col--lg-10" href="https://www.ons.gov.uk/businessindustryandtrade" aria-haspopup="true">Business, industry and trade</a>
<ul class="primary-nav__child-list col col--md-16 col--lg-20 js-expandable__content js-nav-hidden jsEnhance" aria-expanded="false" aria-label="submenu">
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/businessindustryandtrade/business">Business</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/businessindustryandtrade/changestobusiness">Changes to business</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/businessindustryandtrade/constructionindustry">Construction industry</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/businessindustryandtrade/itandinternetindustry">IT and internet industry</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/businessindustryandtrade/internationaltrade">International trade</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/businessindustryandtrade/manufacturingandproductionindustry">Manufacturing and production industry</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/businessindustryandtrade/retailindustry">Retail industry</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/businessindustryandtrade/tourismindustry">Tourism industry</a>
</li>
</ul>
</li>
<li class="primary-nav__item js-nav js-expandable ">
<a class="primary-nav__link col col--md-8 col--lg-10" href="https://www.ons.gov.uk/economy" aria-haspopup="true">Economy</a>
<ul class="primary-nav__child-list col col--md-16 col--lg-20 js-expandable__content js-nav-hidden jsEnhance" aria-expanded="false" aria-label="submenu">
<li class="primary-nav__child-item  js-expandable__child">
 <a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/economy/economicoutputandproductivity">Economic output and productivity</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/economy/environmentalaccounts">Environmental accounts</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/economy/governmentpublicsectorandtaxes">Government, public sector and taxes</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/economy/grossdomesticproductgdp">Gross Domestic Product (GDP)</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/economy/grossvalueaddedgva">Gross Value Added (GVA)</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/economy/inflationandpriceindices">Inflation and price indices</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/economy/investmentspensionsandtrusts">Investments, pensions and trusts</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/economy/nationalaccounts">National accounts</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/economy/regionalaccounts">Regional accounts</a>
</li>
</ul>
</li>
<li class="primary-nav__item js-nav js-expandable ">
<a class="primary-nav__link col col--md-8 col--lg-10" href="https://www.ons.gov.uk/employmentandlabourmarket" aria-haspopup="true">Employment and labour market</a>
<ul class="primary-nav__child-list col col--md-16 col--lg-20 js-expandable__content js-nav-hidden jsEnhance" aria-expanded="false" aria-label="submenu">
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork">People in work</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/employmentandlabourmarket/peoplenotinwork">People not in work</a>
</li>
</ul>
</li>
<li class="primary-nav__item js-nav js-expandable ">
<a class="primary-nav__link col col--md-8 col--lg-10" href="https://www.ons.gov.uk/peoplepopulationandcommunity" aria-haspopup="true">People, population and community</a>
<ul class="primary-nav__child-list col col--md-16 col--lg-20 js-expandable__content js-nav-hidden jsEnhance" aria-expanded="false" aria-label="submenu">
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/birthsdeathsandmarriages">Births, deaths and marriages</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/crimeandjustice">Crime and justice</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/culturalidentity">Cultural identity</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/educationandchildcare">Education and childcare</a>
 </li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/elections">Elections</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/healthandsocialcare">Health and social care</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/householdcharacteristics">Household characteristics</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/housing">Housing</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/leisureandtourism">Leisure and tourism</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/personalandhouseholdfinances">Personal and household finances</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration">Population and migration</a>
</li>
<li class="primary-nav__child-item  js-expandable__child">
<a class="primary-nav__child-link" tabindex="-1" href="https://www.ons.gov.uk/peoplepopulationandcommunity/wellbeing">Well-being</a>
</li>
</ul>
</li>
<li class="primary-nav__item  js-nav">
<a class="primary-nav__link  col col--md-8 col--lg-10" href="https://www.ons.gov.uk/surveys">
Taking part in a survey?
</a>
</li>
<li class="language hide--md primary-nav__link">
<span>English (EN) | </span>
<a href="



    //cy.ons.gov.uk/
" class="language__link">Cymraeg (CY)</a>
</li>
</ul>
</div>
</nav>
</div>
<div class="search nav-search--hidden print--hide" id="searchBar">
<div class="wrapper" role="search">
<form class="col-wrap search__form" action="/search">
<label class="search__label col col--md-23 col--lg-24" for="nav-search">Search for a keyword(s) or time series ID</label>
<input type="search" autocomplete="off" class="search__input col col--md-21 col--lg-32" id="nav-search" name="q" value="">
<button type="submit" class="search__button col--md-3 col--lg-3" id="nav-search-submit">
<span class="visuallyhidden">Search</span>
<span class="icon icon-search--light"></span>
</button>
</form>
</div>
</div>
</header>

<main id="main" role="main" tabindex="-1" class="prototype">
  <!-- breadcrumb -->
  <div id="top" class="page-neutral-intro background--astral">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <nav>
            <div class="breadcrumb">
              <ol class="breadcrumb__list margin-bottom--0">
                    <li class="breadcrumb__item__white">
                            <a class="breadcrumb__link astral-link" href="https://www.ons.gov.uk/">Home</a>
                          </li>
                          <li class="breadcrumb__item__white">
                            <a class="breadcrumb__link astral-link" href="https://www.ons.gov.uk/employmentandlabourmarket">Employment and labour market</a>
                          </li>
                          <li class="breadcrumb__item__white">
                            <a class="breadcrumb__link astral-link" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork">People in work</a>
                          </li>
                          <li class="breadcrumb__item__white">
                            <a class="breadcrumb__link astral-link" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes">Employment and employee types</a>
                          </li>
                <li class="breadcrumb__item">
                  People in work shows steady increase
                </li>
              </ol>
            </div>
          </nav>

        </div>
      </div>
    </div>
  </div>

  <!-- blue banner -->
  <div class="page-intro background--astral">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <h1 class="margin-bottom--1">People in work shows steady increase<h1>
          <ul>
                <li>Lowest employment rate was 65.6% in 1983</li>
                <li>The employment rate for April to June 2018 was 75.6%</li>
        </ul>        
    </div>
      </div>
    </div>

    <!-- latest panel  -->
    <!-- <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <div class="release-data">
            <p class="panel panel-small background--0"><span class="font-weight--bold font-xsmall">This page is part of the latest labour market collection</span></p>
          </div>
        </div>
      </div>
    </div> -->

    <!-- release information -->
    <div class=" border-top--darkastral background--astraldark-transparent">
      <div class="wrapper">
        <div class="col-wrap header-meta-wrap">
          <div class="col col--md-one-quarter col--lg-one-quarter header-meta">
            <p class="font-xxsmall"><strong>Time period:</strong><br>April to June 2018</p>
          </div>
          <div class="col col--md-one-quarter col--lg-one-quarter header-meta">
            <p class="font-xxsmall"><strong>Release date:</strong><br>14 August 2018</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- grey banner -->
  <!-- <div id="analysis" class="page-intro background--gallery">
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col">
          <h2>People in work shows steady increase</h2>

        </div>
      </div>
    </div> -->
<!-- 
    <div class="wrapper">
      <div class="col-wrap">
        <div class="col col--md-two-thirds col--lg-two-thirds background--white margin-bottom--3">
          <div class="padding-right--2 padding-bottom--0 padding-left--2 padding-top--4">
            <img style="width:100%" src="{{ "/assets/img/charts/Figure-2_lg.jpg" | relative_url }}" class="margin-bottom--3" alt="">
            <p class="font-xxsmall margin-bottom--3">Source: Labour Force Survey, Office for National Statistics</p>
          </div>
        </div>
        <div class="col col--md-one-third col--lg-one-third padding-left-md--3">
          <ul>
            <li>Lowest employment rate was 65.6% in 1983</li>
            <li>The employment rate for April to June 2018 was 75.6%</li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

  <!-- main content -->
  <div class="padding-bottom--6">
    <div class="wrapper">
      <div class="col-wrap">
        <!-- sticky nav -->
        <div class="col col--md-one-third col--lg-one-third sticky padding-right--1">
          <div class="">


            <h2 class="heading-xsmall margin-top--4 margin-bottom--1">Pages in this collection:</h2>
            <ul class="section-contents">
              <li>
                <a href="../overview">Labour market overview</a>
              </li>
              <li>
                <a class="font-weight--bold" href="../employment">Employment</a>
              </li>
              <li>
                <a href="../unemployment">Unemployment</a>
              </li>
              <li>
                <a href="../average-weekly-earnings">Average weekly earnings</a>
              </li>
              <li>
                <a href="#">Public and private sector employment</a>
              </li>
              <li>
                <a href="#">Actual hours worked</a>
              </li>
              <li>
                <a href="#">Workforce jobs</a>
              </li>
              <li>
                <a href="#">Labour disputes</a>
              </li>
              <li>
                <a href="#">Economic inactivity</a>
              </li>
              <li>
                <a href="#">Young people in the labour market</a>
              </li>
              <li>
                <a href="#">Redundancies</a>
              </li>
              <li>
                <a href="#">Vacancies</a>
              </li>
            </ul>
            <h2 class="heading-xsmall margin-top--4 margin-bottom--1">Statistics:</h2>
            <ul class="section-contents">
              <li>
                <a href="../../employment/index.html">Employment</a>
              </li>
              <li>
                <a href="#">Public sector employment</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- content -->
        <div class="col col--md-two-thirds col--lg-two-thirds">

          <p class="heading-medium">Proportion of people in work has generally increased since 2012</p>
          <p>The lowest employment rate for people was 65.6% in 1983, during the economic downturn of the early 1980s. The employment rates for people, men and women have been generally increasing since early 2012. For the latest time period, April to June 2018, the employment rate for people was 75.6%, up from 75.1% for a year earlier.</p>

          <div class="info-alert">
            <i class="icon icon-info">
            </i>
            <p>Employment measures the number of people aged from 16 to 64 years in paid work. It differs from the number of jobs because some people have more than one job.</p>
          </div>

          <p class="list-heading">For April to June 2018:</p>
          <ul>
            <li>75.6% of people aged from 16 to 64 years were in work, up from 75.1% for a year earlier</li>
            <li>80.1% of men aged from 16 to 64 years were in work; the employment rate for men has not been higher since February to April 1991</li>
            <li>71.0% of women aged from 16 to 64 years were in work, up from 70.5% for a year earlier</li>
          </ul>

          <p>The increase in the employment rate for women over the last few years has been partly due to ongoing changes to the State Pension age for women, resulting in fewer women retiring between the ages of 60 and 65 years.</p>

          <p>For April to June 2018, there were 32.39 million people in work, 42,000 more than for January to March 2018 and 313,000 more than for a year earlier.</p>

          <p>The following figure shows that more than half of the annual increase in the number of people in employment (313,000) was due to more women in full-time employment (170,000), with the number of men in full-time employment increasing by 101,000 over the year.</p>

          <p class="heading-small">Figure 4: Changes in people in employment in the UK between April to June 2017 and April to June 2018, seasonally adjusted</p>
          <img style="width:100%" src="{{ "/assets/img/charts/Figure-4_lg.jpg" | relative_url }}" class="" alt="">
          <p class="font-xsmall">Source: Labour Force Survey, Office for National Statistics</p>
          <h5 class="margin-bottom--1">Download this chart</h5>
          <div class="btn-group margin-bottom--4">
            <button class="btn btn--primary font-xsmall">
              Image
            </button>
            <button class="btn btn--primary font-xsmall">
              .CSV
            </button>
            <button class="btn btn--primary font-xsmall">
              .XLS
            </button>
          </div>

          <p class="heading-medium">Number of self-employed people falls</p>
          <p class="list-heading">Comparing the estimates for employees and self-employed people for April to June 2018 with those for a year earlier:</p>
          <ul>
            <li>employees increased by 369,000 to 27.45 million (84.8% of all people in work)</li>
            <li>self-employed people decreased by 38,000 to 4.77 million (14.7% of all people in work)</li>
          </ul>

          <div class="info-alert">
            <i class="icon icon-info">
            </i>
            <p>Employees and self-employed people do not account for all people in employment as there are two minor additional categories; unpaid family workers and people on government-supported training and employment programmes.</p>
          </div>

          <p class="heading-medium">Fewer workers on zero-hours contracts</p>
          <p class="list-heading">Comparing the estimates for employment by nationality (not seasonally adjusted) for April to June 2018 with those for a year earlier:</p>
          <ul>
            <li>UK nationals working in the UK increased by 332,000 to 28.76 million</li>
            <li>EU nationals working in the UK fell by 86,000 to 2.28 million (the largest annual fall since comparable records began in 1997)</li>
            <li>non-EU nationals working in the UK increased by 74,000 to 1.27 million</li>
          </ul>
          <p>For April to June 2018, there were 780,000 people (not seasonally adjusted) in employment on “zero-hours contracts” in their main job, 104,000 fewer than for a year earlier. The industrial sector showing the largest annual fall in the number of people in employment on “zero hours contracts” was human health and social work (down 62,000). Detailed estimates of people in employment on “zero-hours contracts” are available at dataset <a href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/datasets/emp17peopleinemploymentonzerohourscontracts">EMP17</a>.</p>
          <!-- <div class="js-show-hide">
            <div class="show-hide show-hide--light background--gallery margin-bottom--2">
                <div class="js-show-hide__title">
                  <p class="heading-small">
                  National Statistic</p>
              </div>
              <div class="js-show-hide__content" style="overflow: auto;">
                <div>
                <img style="float:left;" class="" src="{{ "/assets/img/national-statistics.png" | relative_url }}" alt="National Statistics logo"></div>
                  <div class="padding-left--2" style="overflow:auto;"><p>Certified by the UK Statistics Authority as compliant with its Code of Practice for Official Statistics.<br>
                  <a href="https://www.statisticsauthority.gov.uk/national-statistician/types-of-official-statistics/">Learn more</a></p></div>
                </div>
            </div>
          </div> -->


          <!-- snapshots -->
          <!-- <h2 id="more-pages" class="margin-top--7">More pages in this collection</h2>
          <div class="flex-grid">
            {% include snapshots/crime-overview-snapshot.html %}
            {% include snapshots/homicide-snapshot.html %}
          </div>
          <div class="flex-grid margin-top--2">
            {% include snapshots/violent-crime-snapshot.html %}
            {% include snapshots/weapons-snapshot.html %}
          </div> -->
          <!-- related links -->


          <h2 id="more-about" class="margin-top--7">Find out more</h2>
          <!-- <div class="content-box">
            <ul class="list--neutral margin-top--3">
              <li class=""><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/articles/labourmarketeconomiccommentary/latest">Labour market economic commentary</a></li>
              <li class=""><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/articles/singlemonthlabourforcesurveyestimates/august2018">Single month Labour Force Survey estimates</a></li>
            </ul>
          </div> -->
          <div class="content-box">
            <ul class="list--neutral margin-top--4">
              <li>
                <p><a class="font-weight--bold" href="../../employment/index.html">Employment</a></p>
                <p>Estimates of employment are derived from the Labour Force Survey (LFS), a survey of households. Employment rates show the number of people in employment as a proportion of the population. Other figures include the number of people in employment.</p>
              </li>
            </ul>
          </div>


          <h2 id="more-links" class="margin-top--7">You may also be interested in</h2>
          <div class="content-box">
            <ul class="list--neutral margin-top--4">
              <li class=""><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/bulletins/regionallabourmarket/latest">Regional Labour market statistics release</a></li>
              <li class=""><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/publicsectorpersonnel/bulletins/publicsectoremployment/latest">Public sector employment release</a></li>
              <li class=""><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peoplenotinwork/unemployment/bulletins/youngpeoplenotineducationemploymentortrainingneet/august2018">Young People not in Education, Employment or Training (NEET) release</a></li>
              <li class=""><a class="font-weight--bold" href="https://www.bankofengland.co.uk/statistics/research-datasets"> A millennium of macroeconomic data version 3.1</a></li>
              <li class=""><a class="font-weight--bold" href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/employmentandemployeetypes/articles/trendsinselfemploymentintheuk/2018-02-07">Trends in self-employment in the UK</a></li>
            </ul>
          </div>

          <!-- contact -->
          <h2 id="contact" class="margin-top--7">Contact us</h2>
          <div class="content-box">
            <p class="margin-top--4">Richard Clegg<br>
              <a href="#">labour.market@ons.gov.uk</a><br>+44 (0)1633 455400</p>
          </div>

          <p class="margin-top--7">
            <a href="#top">Back to top</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="print--hide">
  <h2 class="visuallyhidden">Footer links</h2>
  <div class="footer">
  <div class="wrapper">
  <nav>
  <div class="footer-nav col-wrap">
  <div class="col col--lg-one-third col--md-one-third">
  <h3 class="footer-nav__heading">Help</h3>
   <ul class="footer-nav__list">
  <li class="footer-nav__item">
  <a href="https://www.ons.gov.uk/help/accessibility">Accessibility</a>
  </li>
  <li class="footer-nav__item">
  <a href="https://www.ons.gov.uk/help/cookiesandprivacy">Cookies and privacy</a>
  </li>
  <li class="footer-nav__item">
  <a href="https://www.ons.gov.uk/help/termsandconditions">Terms and conditions</a>
  </li>
  <li class="footer-nav__item">
  <a href="https://www.ons.gov.uk/help/localstatistics">Local statistics</a>
  </li>
  <li class="footer-nav__item">
  <a href="https://www.ons.gov.uk/help/eduroam">eduroam</a>
  </li>
  </ul>
  </div>
  <div class="col col--lg-one-third col--md-one-third">
  <h3 class="footer-nav__heading">About ONS</h3>
  <ul class="footer-nav__list">
  <li class="footer-nav__item">
  <a href="https://www.ons.gov.uk/aboutus/whatwedo">What we do</a>
  </li>
  <li class="footer-nav__item">
  <a href="https://www.ons.gov.uk/aboutus/careers">Careers</a>
  </li>
  <li class="footer-nav__item">
  <a href="https://www.ons.gov.uk/aboutus/contactus">Contact us</a>
  </li>
  <li class="footer-nav__item">
  <a href="https://www.ons.gov.uk/aboutus/transparencyandgovernance/freedomofinformationfoi">Freedom of Information</a>
  </li>
  </ul>
  </div>
  <div class="col col--lg-one-third col--md-one-third">
  <h3 class="footer-nav__heading">Connect with us</h3>
  <ul class="footer-nav__list">
  <li class="footer-nav__item">
  <a href="https://twitter.com/ONS">Twitter</a>
  </li>
  <li class="footer-nav__item">
  <a href="https://www.facebook.com/ONS">Facebook</a>
  </li>
  <li class="footer-nav__item">
  <a href="https://www.linkedin.com/company/office-for-national-statistics">LinkedIn</a>
  </li>
  <li class="footer-nav__item">
  <a href="https://public.govdelivery.com/accounts/UKONS/subscribers/new">Email alerts</a>
  </li>
  </ul>
  </div>
  </div>
  </nav>
  </div>
  <div class="wrapper">
  <div class="footer-license">
  <img class="footer-license__img" alt="OGL" width="60" src="https://www.ons.gov.uk/img/ogl.png">
  <p class="footer-license__text margin-left-sm--0">
  All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0</a>, except where otherwise stated
  </p>
  </div>
  </div>
  </div>
  </footer>
  <!--[if gt IE 8]><!-->
  <script type="text/javascript" src="https://cdn.ons.gov.uk/sixteens/810d626/js/main.js"></script>
  <script type="text/javascript" src="https://www.ons.gov.uk/js/app.js"></script>
  <![endif]-->
  </body>
